<% if(item.newline){ %>
    <p></p>
    <span class="pageText new-line">
        <%= item.value %>
    </span>
    <%}else{%>
        <span class="pageText">
            <%= item.value %>
        </span>
        <%}%>