<nav class="navbar navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a href="/" class="navbar-brand">
      <%=siteName %> &gt; <%= pageTitle %>
    </a>

    <div class="navbar" id="navbar">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/page/b69d00be-744f-465c-bb90-c2a3a938ce20/edit" class="nav-link">Main Page List</a>
        </li>
      </ul>
    </div>
  </div>
</nav>