<div id="element-text" class="form-group">
    <form id="textForm" class="feedback-form textUploadForm">
        <label for="feedback-form-name">Text</label>
        <input type="hidden" name="uuid" value="<%=uuid %>">
        <input type="hidden" name="section" value="elements">
        <textarea type="text" class="form-control" id="textInput" name="textInput"
            placeholder="Enter your text"></textarea>
        <button type="submit">Add Text</button>
    </form>
    <hr />
</div>