<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title element-modal-title" id="modalchoiceLabel">Form Title</h5>
    </div>
    <div class="modal-body">
        <form id="choiceFormModal" class="row g-3 mb-3 was-validated" novalidate>
            <input type="hidden" name="hiddenchoiceuuid" id="hiddenchoiceuuid" value="<%=uuid %>">
            <input type="hidden" name="section" value="elements">
            <input type="hidden" id="destinationModal" name="destinationModal" value="">
            <input type="hidden" id="choicerequest" name="choicerequest" value="">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon3">Link Label:</span>
                        <input type="text" class="form-control" name="modalchoiceInput" id="modalchoiceInput"
                            aria-describedby="basic-addon3 basic-addon4">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 input-group">
                    <label class="input-group-text" for="inputGroupSelect01">Link to Page:</label>
                    <select class="form-select" id="choiceDestinationModal" onchange="changeChoiceDestinationModal()">
                        <option value="Choose Page"></option>
                        <% for (let i=0; i < pages.length; i++){ %>
                            <option value="<%= pages[i].uuid %>">
                                <%=pages[i].title%>
                            </option>
                            <%}%>
                    </select>
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="submit">Update</button>
                </div>
            </div>

        </form>

    </div>



</div>

</div>
<%- include('formElementValidation', {}); %>
    <script>
        function changeChoiceDestinationModal(display = null) {

            let dropdown = document.getElementById('choiceDestinationModal');
            let hiddenchoiceuuid = document.getElementById("hiddenchoiceuuid");
            let destinationModal = document.getElementById("destinationModal");

            if (display) {
                destinationModal.value = display;
            } else {
                destinationModal.value = dropdown.value
            }

            console.log("calling changeChoiceDestinationModal() ", dropdown.value);
            // console.log(choiceDropdown);
            // if (destination.value == "Choose Page") {
            //   document.getElementById("choiceElementSubmit").disabled = true;
            // } else {
            //   document.getElementById("choiceElementSubmit").disabled = false;
            // }
        }
    </script>