<form class="feedback-form" method="POST" action="/page">
    <div class="form-group">
        <label for="feedback-form-name">Text</label>
        <input type="textarea" class="form-control" id="feedback-form-name" name="name" placeholder="Enter your name">
    </div>
    <button type="submit" class="btn btn-secondary float-right">Add text</button>
</form>