body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: 100;
  font-family: 'Palatino', sans-serif;
}


h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  color: #C1343F;
}



h2 {
  font-size: 1.8em;
}

/* a {
  color: #DD4F53;
} */

span.new-line {
  margin-left: 30px;
}

header .jumbotron {
  height: 0vh;
  margin-bottom: 0;
  /* background: url(../images/misc/background.jpg) no-repeat 100% 5%; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header .navbar-brand {
  font-size: 1.2em;
}

.ghost {
  opacity: .5;
  background: hsl(50, 91%, 47%);
}

.edit-hidden {
  opacity: 0.4;
  display: none;
}

.featherImage {
  mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent), linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  /* For cross-browser compatibility */
  mask-composite: intersect;
  /* For WebKit browsers */
  -webkit-mask-composite: destination-in;
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent), linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);

}


.maincontent {
  line-height: 160%;
}

.sidebar {
  font-family: 'Roboto', sans-serif;
  line-height: 130%;
}

.sidebar {
  font-size: 0.9em;
}

.sidebar-title {
  font-size: 1.3em;
}

.sidebar .sidebar-body li {
  margin-bottom: 10px;
}

p.pageText {
  max-width: 90%;
  /* font-size: 18px; */
  line-height: 1.6em;
}

.fullButton {
  color: #900;
  display: block;
  padding: 12px 20px;
  margin-bottom: 10px;
  /* background-color: #4a69bd; */
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
  border: 1px solid #900;
  cursor: pointer;
  font-size: 1em;
}

.userevent {
  /* color: #900;
display: block;
padding: 12px 20px;
margin-bottom: 10px;
text-decoration: none;
border-radius: 5px;
text-align: center;
transition: background-color 0.3s ease;
border: 1px solid #900;
cursor: pointer;
font-size: 1em; */
}

.usereventdone {
  color: #474544;
  text-decoration: line-through;
}

.inlinechoice {
  color: #900;
  text-decoration: none;
  cursor: pointer;
  font-size: 1em;
}

.choices a:hover,
.choices button:hover {
  background-color: #3b53a0;
}

.pageImage {
  max-width: 95%;
}

/* .pageLink {} */

.formButton {
  cursor: pointer;
}

.pageIcon {
  display: inline-block;
  margin-right: 10px;
  color: grey;
}

.pageIcon>div {
  display: inline-block;
  font-size: small;
  color: #C1343F;
}

.editButtons {
  /* width: 100%; */
  gap: 15px;
  /* flex-direction: column; */
  position: absolute;
  z-index: 10;
  z-index: 10;
  right: 0%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  /* background-color: #C1343F; */
}

.item-delete-btn {
  cursor: pointer;
  border-radius: 5px;
  padding: 0px;
  width: 40px;
  height: 35px;
  /* background-color: #C1343F; */
}

.editElement {
  padding: 0;
  width: 40px;
  height: 35px;
}

.editElement.editTitle {
  background-color: red;color: red;
  display: none;
}

.successToast {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

#previewModal {
  max-width: 100%;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .sidebar {
    line-height: 160%;
  }

  .sidebar .sidebar-title {
    font-size: 2em;
  }
}

.speakerslist {
  line-height: 160%;
}

.speakerslist-title {
  color: #000000 !important;
}

.speakerslist-name a:hover {
  text-decoration: none;
  color: #343a40;
}

.jumbotron {
  padding: 0px 0;
  border-radius: 0%;
}

.feedback-name {
  font-size: .6em;
  font-weight: 100;
}

.feedback-message {
  font-weight: 100;
  font-size: 18px;
  line-height: 120%;
  margin-top: 5px;
}

.feedback-item {
  padding: 0px 8px;
  width: 100%;
}

.feedback-title {
  font-weight: 400;
  font-size: 1.1em;
}

.feedback-form label {
  font-weight: 400;
}

.feedback-item:last-of-type {
  border-bottom: none;
}




/**  pixgrid **/

.pixgrid {
  cursor: pointer;
  margin-top: 20px;
}

.pixgrid img {
  display: block;
  padding: 5px;
  float: left;
  width: 33.33%;
  border-radius: 8px;
}

@media (min-width: 500px) and (max-width: 768px) {
  .pixgrid img {
    width: 20%;
  }
}