<nav class="navbar navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a href="/" class="navbar-brand">
      <%=siteName %> &gt; <%= pageTitle %>
    </a>

    <div class="navbar" id="navbar">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <a id="navModeLink">Edit This Page</a>
      </ul>
    </div>
  </div>
</nav>