<div id="page">
    <div id="mid_panel">
        <div id="content_wrapper" style="display: block;">
            <div id="content">
                <h1>
                    <%= pageData.value %>
                </h1>
                <p>
                    <%if(pageListItems.length> 0){%>
                        <% pageListItems.forEach(function (item) {%>
                            <%if(item.type=="text" || item.type=="image" || item.type=="choice" || item.type=="dynamic"
                                ){%>

                                <%- include(`./partials/entry`, {item: item, allPageUUIDs: allPageUUIDs}); %>
                                    <%}%>

                                        <%})%>
                                            <%}%>
                </p>
            </div>
            <a name="end_of_content"></a>
        </div>

    </div>
</div>