<div id="new-page" class="form-group">
    <form id="pageForm" class="feedback-form">
        <label for="feedback-form-name">Page</label>
        <input type="hidden" name="uuid" id="uuid" value="<%=uuid %>">
        <input type="hidden" name="section" value="elements">
        <input type="text" class="form-control" id="pageName" name="pageName" placeholder="Enter a title for the page.">
        <button type="submit">Create Page</button>
    </form>
    <hr />
</div>