<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title element-modal-title" id="modalimageLabel">Form Title</h5>
    </div>
    <div class="modal-body" class="row g-3 was-validated" novalidate>
        <form id="uploadImageFormModal_AI">
            <input type="hidden" id="hiddenAiImageuuid" name="uuid" value="">
            <input type="hidden" name="section" value="elements">
            <input type="hidden" id="imagerequest_ai" name="imagerequest" value="POST">
            <input type="hidden" id="imagepath_ai" name="imagepath_ai" value="">
            <img id="aipreviewModal_ai" name="aipreviewModal" src="" alt="Image preview"
                style="max-width: 100%; display: none; margin-top: 10px;" />
            <div id="aiModalSpinner" style="display:none;" class="text-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden"></span>
                </div>
            </div>
            <div class="form-floating mb-3">
                <textarea id="modalimagePrompt" class="form-control"
                    style="max-width: 100%; display: block; margin-top: 10px;"
                    placeholder="Add your prompt here"></textarea>
                <p>Ex: "Generate an image of a cowboy riding a dinosaur"</p>
                <button type="button" class="btn btn-info" id="aiImagePreviewBtn">Generate
                    Preview</button>
            </div>

            <div class="modal-footer">
                <button type="button" id="ai_modal_cancel" class="btn btn-secondary"
                    data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-success" type="submit" id="ai_image_submit"><svg
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 -960 960 960">
                        <path class="submit"
                            d="m424-296 282-282-56-56-226 226-114-114-56 56zm56 216q-83 0-156-31.5T197-197t-85.5-127T80-480t31.5-156T197-763t127-85.5T480-880t156 31.5T763-763t85.5 127T880-480t-31.5 156T763-197t-127 85.5T480-80m0-80q134 0 227-93t93-227-93-227-227-93-227 93-93 227 93 227 227 93m0-320" />
                    </svg>Yes, Use This!</button>
                <button type="button" id="ai_image_cancel" class="btn btn-danger" data-bs-dismiss="modal"><svg
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 -960 960 960">
                        <style>
                            path.cancel,
                            path.submit {
                                fill: white;
                                padding: 0px;
                            }
                        </style>
                        <path class="cancel"
                            d="m336-280 144-144 144 144 56-56-144-144 144-144-56-56-144 144-144-144-56 56 144 144-144 144zM480-80q-83 0-156-31.5T197-197t-85.5-127T80-480t31.5-156T197-763t127-85.5T480-880t156 31.5T763-763t85.5 127T880-480t-31.5 156T763-197t-127 85.5T480-80m0-80q134 0 227-93t93-227-93-227-227-93-227 93-93 227 93 227 227 93m0-320"
                            stroke="white" />
                    </svg>Nevermind...</button>
            </div>

        </form>
    </div>

</div>
<%- include('formElementValidation', {}); %>
    <script>
        //code for showing preview image in modal display

        const aiImagePreviewBtn = document.getElementById('aiImagePreviewBtn');
        const aiPreviewImg = document.getElementById('aipreviewModal_ai');
        const modalimagePrompt = document.getElementById('modalimagePrompt');
        const aiModalSpinner = document.getElementById('aiModalSpinner');

        const ai_image_submit = document.getElementById('ai_image_submit');
        const ai_image_cancel = document.getElementById('ai_image_cancel');
        const ai_modal_cancel = document.getElementById('ai_modal_cancel');

        function aiForm_reset() {
            // console.log("----AI FORM RESET");
            aiImagePreviewBtn.disabled = false;
            ai_image_submit.style.display = "none";
            ai_image_cancel.style.display = "none";
            ai_modal_cancel.style.display = "block";
            modalimagePrompt.textContent = "";
            aiPreviewImg.src = "";
            aiPreviewImg.style.display = "none";
        }
        function aiForm_waitForPreview() {
            console.log("----AI FORM WAIT FOR PREVIEW");
            aiImagePreviewBtn.disabled = true;
            aiPreviewImg.src = "";
            aiModalSpinner.style.display = "block";
            ai_image_submit.style.display = "none";
            ai_image_cancel.style.display = "none";
            ai_modal_cancel.style.display = "block";
        }
        function aiForm_viewPreview() {
            console.log("----AI FORM VIEW PREVIEW");
            aiImagePreviewBtn.disabled = true;
            aiPreviewImg.style.display = "block";
            ai_image_submit.style.display = "block";
            ai_image_cancel.style.display = "block";
            ai_modal_cancel.style.display = "none";
            aiModalSpinner.style.display = "none";
        }

        aiForm_reset();

        aiImagePreviewBtn.addEventListener("click", (e) => {
            console.log('clicked AI preview button');
            generateAndSaveImage();
        });

        async function generateAndSaveImage() {

            const imagepath_ai = document.getElementById('imagepath_ai');

            aiForm_waitForPreview();
            const formData = new FormData(); // Or from an existing form as shown above
            formData.append('prompt', modalimagePrompt.value);



            try {
                console.log("---fetching AI image...");
                const response = await fetch('/generate-img', {
                    method: 'POST', // Or 'PUT', 'DELETE', etc.
                    body: formData, // The FormData object is automatically handled as 'multipart/form-data'
                });

                if (response.ok) {

                    const result = await response.json(); // Or response.text()
                    console.log('Submission successful:', result);

                    aiPreviewImg.src = result.url;
                    imagepath_ai.value = result.local;
                    aiForm_viewPreview();

                    ai_image_cancel.addEventListener("click", async () => {
                        aiForm_reset();
                        cancelAndDeleteImage(result.local);
                    });
                } else {
                    console.error('Submission failed:', response.statusText);
                }
            } catch (error) {
                console.error('Network error or other issue:', error);
            }
        }

        async function cancelAndDeleteImage(filename) {
            try {
                const response = await fetch('/generate-img', {
                    method: 'DELETE', // Or 'PUT', 'DELETE', etc.
                    headers: {
                        'Content-Type': 'application/json; charset=UTF-8',
                    },
                    body: JSON.stringify({ "filename": filename }) // The FormData object is automatically handled as 'multipart/form-data'
                });

                if (response.ok) {
                    const result = await response.json(); // Or response.text()
                    console.log('Deletion successful:', result.msg);
                } else {
                    console.error('Deletion failed:', response.msg);
                }
            } catch (error) {
                console.error('Network error or other issue:', error);
            }
        }

    </script>