<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title element-modal-title" id="modalconditionLabel">Form Title</h5>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <form id="conditionFormModal" class="row g-3 mb-3 was-validated" novalidate>
                <input type="hidden" name="hiddenconditionuuid" id="hiddenconditionuuid" value="<%=uuid %>">
                <input type="hidden" name="section" value="elements">
                <input type="hidden" id="comparisonModal" name="comparisonModal" value="">
                <input type="hidden" id="conditionRequest" name="conditionRequest" value="">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon3">Property Name:</span>
                            <input type="text" class="form-control" name="modalConditionProperty"
                                id="modalConditionProperty" aria-describedby="basic-addon3 basic-addon4">
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <!-- <div class="input-group" width="50px"> -->
                        <label class="input-group-text" for="inputGroupSelect01">Comparison:</label>
                        <select class="form-select" id="modalConditionOperator" name="modalConditionOperator"
                            onchange="changemodalConditionOperator()">
                            <option value="<">less than</option>
                            <option value="=">equal to</option>
                            <option value=">">greater than</option>
                        </select>
                        <!-- </div> -->
                    </div>
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon4">Value:</span>
                            <input type="text" class="form-control" name="modalConditionAmount"
                                id="modalConditionAmount" aria-describedby="basic-addon3 basic-addon4">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="booloperator" id="booloperator"
                                value="or">
                            <label class="form-check-label" for="booloperator">
                                Make This An Alternative Condition
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button class="btn btn-primary" type="submit">Update</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>

    </div>



</div>

</div>
<%- include('formElementValidation', {}); %>
    <script>
        function changemodalConditionOperator(display = null) {

            let dropdown = document.getElementById('modalConditionOperator');
            let hiddenconditionuuid = document.getElementById("hiddenconditionuuid");
            let comparisonModal = document.getElementById("comparisonModal");

            if (display) {
                comparisonModal.value = display;
            } else {
                comparisonModal.value = dropdown.value
            }

            console.log("calling changemodalConditionOperator() ", dropdown.value);
            // console.log(choiceDropdown);
            // if (destination.value == "Choose Page") {
            //   document.getElementById("choiceElementSubmit").disabled = true;
            // } else {
            //   document.getElementById("choiceElementSubmit").disabled = false;
            // }
        }

    </script>